.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/shelf/*
.idea/dictionaries
.idea/**/contentModel.xml
.idea/**/*.iml
.idea/**/modules.xml

.DS_Store
.vscode

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
